*,
*::before,
*::after {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

body {
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: grid;
    place-content: center;
}

#title {
    font-size: 2rem;
    padding: 0.5rem 0 0.5rem 0;
}

main {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 10px;
    flex-grow: 1;
}

#controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

button {
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.35rem 0.4rem;
    background-color: midnightblue;
    transition: transform 200ms ease-in;
}

button:hover {
    transform: scale(1.05);
}

button.onPosition {
    border: 2px solid gray;
}

#chessBoard {
    display: grid;
    grid-template-columns: repeat(8, minmax(15px, 75px));
    grid-template-rows: repeat(8, minmax(15px, 75px));
    flex-grow: 1;
}

.box {
    /* width: 10px;
    height: 10px; */
    font-size: 10px;
    border: 1px solid black;
}

.box.black {
    background-color: #999;
}

.box.white {
    background-color: white;
}

.box.start {
    background-color: skyblue;
}

.box.end {
    background-color: limegreen;
}

.box.path {
    background-color: orange;
}